<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
<h3> View Product</h3>

<p>
    <a th:href="@{/product}">
        Back to product List
    </a>
</p>

<div id="detail">
    <div class="cusdetail">
        <label>Name</label>
        <label th:text="${product.getName()}"></label>
    </div>

    <div class="cusdetail">
        <label>Price</label>
        <label th:text="${product.getPrice()}"></label>
    </div>

    <div class="cusdetail">
        <label>Amount</label>
        <label th:text="${product.getAmount()}"></label>
    </div>

    <div class="cusdetail">
        <label>Production</label>
        <label th:text="${product.getProduction()}"></label>
    </div>
</div>
</body>
</html>