<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create Customer</h1>
<p>
    <a th:href="@{/customer}">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/create}" th:object="${customerDto}" method="post">
    <table>


        <th>customerType</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr>
            <td>name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"> Name Error
            </td>
        </tr>

        <tr>
            <td>dateOfBirth:</td>
            <td><input type="text" th:field="*{dateOfBirth}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('dateOfBirth')}"
                th:errors="*{dateOfBirth}"> dateOfBirth Error
            </td>
        </tr>
        <tr>
            <td>gender:</td>
            <td><input type="text" th:field="*{gender}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('gender')}"
                th:errors="*{gender}"> gender Error
            </td>
        </tr>
        <tr>
            <td>idCard:</td>
            <td><input type="text" th:field="*{idCard}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('idCard')}"
                th:errors="*{idCard}"> Name Error
            </td>
        </tr>
        <tr>
            <td>phoneNumber:</td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('phoneNumber')}"
                th:errors="*{phoneNumber}"> phoneNumber Error
            </td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"> email Error
            </td>
        </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('address')}"
                th:errors="*{address}"> address Error
            </td>
        </tr>

        <tr>
            <td>customerType:</td>
            <td>
                <select th:field="*{customerType}">
                    <option th:each="item : ${customerTypes}"
                            th:value="${item.id}" th:text="${item.name}">
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>
</table>