<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit song</title>
</head>
<body>
<h1>Edit song</h1>
<p>
    <a href="/user">song list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/song/edit}" th:object="${songDto}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}">First Name Error
            </td>
        </tr>
        <tr>
            <td>performing:</td>
            <td><input type="text" th:field="*{performing}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('performing')}"
                th:errors="*{performing}">First Name Error
            </td>
        </tr>
        <tr>
            <td>songType:</td>
            <td><input type="text" th:field="*{songType}"/></td>
            <td style="color: red"
                th:if="${#fields.hasErrors('songType')}"
                th:errors="*{songType}">First Name Error
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
</body>
</html>