<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit facility</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
</head>
<body>
<h1 th:align="center" >Edit facility</h1>
<p>
    <a th:href="@{/facility}">Facility list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div class="d-block w-50  container mb-2 bg-primary " style="width:500px ;margin: 0px auto;background: url(/images/slide_h4.jpg">
    <form th:action="@{/facility/edit}" th:object="${facilityDto}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <div class="mb-3">
            <label class="form-label" style="color: #4f2216" >Name:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{name}"/>
            <div style="color: red"
                 th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"> Name Error
            </div>
        </div>

        <div class="mb-3">
            <label  style="color: #4f2216" >Area:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{area}"/>
        </div>

        <div class="mb-3">
            <label style="color: #4f2216" >Cost:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{cost}"/>
        </div>

        <div class="mb-3">
            <label style="color: #4f2216" >MaxPeople:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{maxPeople}"/>
        </div>

        <div class="mb-3">
            <label style="color: #4f2216" >RentType:</label>

            <select class="form-control" aria-describedby="emailHelp" th:field="*{rentType}" >
                <option th:each="item : ${rentTypes}"
                        th:value="${item.id}" th:text="${item.name}">
                </option>
            </select>

        </div>

        <div class="mb-3">
            <label style="color: #4f2216" >Facility type:</label>

            <select class="form-control" aria-describedby="emailHelp" th:field="*{facilityType}" onchange="onchangeFacility(this.value)">
                <option th:each="item : ${facilityTypes}"
                        th:value="${item.id}" th:text="${item.name}">
                </option>
            </select>


        </div>
        <div id="standardRoom" class="mb-3">
            <label style="color: #4f2216" >StandardRoom:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{standardRoom}"/>
        </div>

        <div id="description" class="mb-3">
            <label  style="color: #4f2216" >Description Other Convenience:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{descriptionOtherConvenience}"/>
        </div>

        <div id="poolArea" class="mb-3">
            <label  style="color: #4f2216" >PoolArea:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{poolArea}"/>
        </div>

        <div id="numberFloor" class="mb-3">
            <label  style="color: #4f2216" >NumberOfFloors:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{numberOfFloors}"/>
        </div>

        <div id="facilityFree" class="mb-3">
            <label  style="color: #4f2216" >FacilityFree:</label>
            <input class="form-control" aria-describedby="emailHelp" type="text" th:field="*{facilityFree}"/>
        </div>


        <div>
            <input  style="color: #4f2216" type="submit" value="Create facility">
        </div>

    </form>
</div>

<script src="/jquery-3.6.1.min.js"></script>
<script src="/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
<script>
    function onchangeFacility(value) {
        debugger
        if (value == 1) {
            $("#standardRoom").show();
            $("#description").show();
            $("#poolArea").show();
            $("#numberFloor").show();
            $("#facilityFree").hide();
        }else if (value == 2) {
            $("#standardRoom").show();
            $("#description").show();
            $("#poolArea").hide();
            $("#numberFloor").show();
            $("#facilityFree").hide();
        }else if (value == 3) {
            $("#standardRoom").hide();
            $("#description").hide();
            $("#poolArea").hide();
            $("#numberFloor").hide();
            $("#facilityFree").show();
        }else {
            $("#standardRoom").hide();
            $("#description").hide();
            $("#poolArea").hide();
            $("#numberFloor").hide();
            $("#facilityFree").hide();
        }
    }
</script>
</body>
</html>