<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
<body>

<h3>Products</h3>

<form th:action="@{/product/search}" method="get">
    <input th:type="text" name="name">
    <input th:type="submit" name="action" value="findByName">
</form>

<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>

<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id="product">
    <thead>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>production</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,rowStat : ${products}">
        <td th:text="${rowStat.index + 1}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getAmount()}"></td>
        <td th:text="${product.getProduction()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${product.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${product.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${product.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>

<footer th:replace="layout :: footer"></footer>
</body>
</html>