<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="blog/create">Create new blog</a>

<form th:action="@{blog/search}" method="get">
    <input  th:type="text" name="author">
    <input  th:type="submit" name="action" value="findByName">
</form>

<h1>Blogs</h1>
<table border="1">
    <tr>
        <th>Last author</th>
        <th>Last price</th>
        <th>Last status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.price}"></td>
            <td th:text="${blog.status}"></td>
            <td><a th:href="@{/blog/edit/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/blog/delete/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>